@model Relaciones.Models.EstudiantesIndex

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
                Edad
            </th>
            <th>
                Asignaturas Asignadas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var estudiante in Model.Estudiantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => estudiante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => estudiante.Edad)
            </td>
            <td>
                @foreach(var asignaturaEstudiante in estudiante.AsignaturaEstudiantes)
                {
                <p>@asignaturaEstudiante.Asignatura.Nombre</p>
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@estudiante.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@estudiante.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@estudiante.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
